
.accordion-section {
  display: flex;
  flex-direction: column;
  margin-bottom:3%;
}

.accordion {
  background-color: rgb(243,247,254);
  color: #444;
  cursor: pointer;
  padding: 0;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  border: 1px solid #537ABB; 
  outline: none;
  transition: background-color 0.3s ease;
  width:80%;
  margin-right:5%;
  margin-left:8%;
}

.accordion-title {
  color: rgba(0,0,0,0.6);
  font-size: 20px;
  text-align: justify; 
  padding-right: 5%;
}

.accordion-text {
  color: rgba(0,0,0,0.9);
  width:80%;
  margin-left:8%;
  font-size:20px;
  margin-top:1%;
  text-align: justify; 
}

.accordion:hover,
.active {
  background-color: rgb(53, 106, 196,0.3);
}

.accordion-content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
  max-height: 100px;
}

.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
  color:#344F99;
  margin-bottom:1%;
  margin-right:1%;
}

.rotate {
  transform: rotate(-180deg);
}
