* {
  color: white;
  font-weight:400;

}

.footer-container {
  background-color: #2E488E;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex-child {
  flex: 1;
  padding-bottom: 3em;

}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.footer-subcontainer {
  display: flex;
  flex-direction: row;
}

.flex-child-sub {
  flex: 1;
}

.flex-child ul {
  display: flex;
  padding: 1rem 2rem;
}

.flex-child li {
  list-style-type: none;
  margin: 0 3rem;
  font-size: 1.25em;
}

.flex-child li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.flex-child  li a:hover {
  color: #F3A47D;
} 

.flex-subsubcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 1em;
}

.flex-child-sub {
  font-size: 0.8em;
  line-height: 2;
}

.flex-subsubcontainer a {
  padding-left: 0.2em;
  padding-top: 1em;
  width: 15%;
  height: 40%;
}

.copyright {
  padding-left: 2em;
}