.project-card-container {
  display: flex;
  background-color: #E6E7FF;
  flex-direction: column;
  border-radius: 3em;
  align-items: center;
  justify-content: center;
  max-width: auto;
  min-height: 400px;
  padding: 1em;
  margin: 2em;
}

.project-card-container:hover {
  transform: scale(1.08);
  color: #F3A47D;
}
.project-card-title {
  font-size: 1.25em;
  text-align: center;
  padding-bottom: 1em;
}

.project-card-title:hover {
  color: #F3A47D;
}


.project-card-image {
  height: 80%;
  width: 80%;
  border-radius: 2em;
}

.link-spanner {
position: absolute;
width:100%;
height:100%;
top:0;
left: 0;
z-index: 1;
}

