.team-card-container {
  width: 33%;
  height: auto;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.team-card-img {
  width: 40%;
  height: auto;
  border-radius: 16px;
  margin-bottom: 1em;
}

.team-card-name {
  font-size: 24px;
  font-weight: 500;
}

.team-card-info {
  font-size: 16px;
  font-weight: 500;
}



